body{
    height: 100vh;
    width: 50vw;
    display: grid;
    gap: 15px;
    grid-template-areas: 
    "Sunday Monday Tuesday"
    "Wednesday Thursday Friday"
    "Saturday NOTES NOTES"
    ;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
div:nth-child(1){
    grid-area: Sunday;
    background-color: rgb(226, 179, 162);
}
div:nth-child(2){
    grid-area: Monday;
    background-color: rgb(226, 179, 162);
}
div:nth-child(3){
    grid-area: Tuesday;
    background-color: rgb(236, 208, 197);
}
div:nth-child(4){
    grid-area: Wednesday;
    background-color: rgb(243, 203, 189);
}
div:nth-child(5){
    grid-area: Thursday;
    background-color: rgb(226, 179, 162);
}
div:nth-child(6){
    grid-area: Friday;
    background-color: rgb(226, 179, 162);
}
div:nth-child(7){
    grid-area: Saturday;
    background-color:rgb(226, 179, 162);
}
div:nth-child(8){
    grid-area: NOTES;
    background-color:rgb(226, 179, 162);
}