body{
    height: 100vh;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4/1fr);
    grid-template-rows: repeat(6/1fr)
}

div{
    background-color: orange;
}

div:nth-child(1){
    grid-column:2/3 ;
    grid-row:1/2 ;
    background-color: #d88b34;
}

div:nth-child(2){
    grid-column:3/4 ;
    grid-row:1/2 ;
    background-color: #f75c03;
}

div:nth-child(3){
    grid-column:4/5 ;
    grid-row:1/2 ;
    background-color: #f7d203;
}

div:nth-child(4){
    grid-column:4/5 ;
    grid-row: 2/3;
    background-color: yellow;
}

div:nth-child(5){
    grid-column:4/5 ;
    grid-row:3/4 ;
    background-color: green;
}

div:nth-child(6){
    grid-column:3/4 ;
    grid-row:3/4 ;
    background-color: red;
}

div:nth-child(7){
    grid-column: 2/3;
    grid-row:3/4 ;
    background-color: brown;
}

div:nth-child(8){
    grid-column:1/2 ;
    grid-row: 3/4;
    background-color: #13ac40;
}

div:nth-child(9){
    grid-column:1/2 ;
    grid-row:4/5 ;
    background-color: #3d1cb4;
    
}

div:nth-child(10){
    grid-column:1/2 ;
    grid-row: 5/6;
    background-color: #2cf703;
}

div:nth-child(11){
    grid-column: 1/2;
    grid-row:6/7 ;
    background-color: #f703ba;
}

div:nth-child(12){
    grid-column: 2/3;
    grid-row:6/7 ;
    background-color: #a84275;
}

div:nth-child(13){
    grid-column:3/4 ;
    grid-row:6/7 ;
    background-color: aqua;
}

div:nth-child(14){
    grid-column: 4/5;
    grid-row: 6/7;
    background-color: #f75c03;
}

header{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: green;
}

footer{
    grid-column: 4/5;
    grid-row: 5/6;
    background-color: yellow;
}