*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(0, 0, 0);
}

.alan{
    width: 850px;
    height: 400px;
    background-color:rgb(57, 57, 201);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    gap: 25px;
}
img{
    width: 400px;
    height: 800px;
}
h1,p,h2{
    width: 50%;
}
span{
    display: flex;
    padding: 20px;
}
.span2{
    display: flex;
    gap: 60px;
    font-size: 10px;
    color: rgb(126, 125, 125);
}
p{
    color: rgb(112, 111, 111);
}