*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/cartoon-santa-over-christmas-background-30279.jpg) no-repeat center/cover;   
}
.alan{
    flex: 0 0 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.kutular{
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(153, 0, 0);
}
.kutular > div{
    flex: 0 0 40%;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    flex-direction: column;

}

